<div class="container">
    <div class="container text-center">
        <form class="form-signin" ng-submit="vm.login()" data-ember-action="2">
            <h2 class="form-signin-heading">Acme Widget Company</h2><br />
            <input id="ember360" class="ember-view ember-text-field form-control login-input" ng-model="vm.user.username" placeholder="username" type="text" required>
            <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" ng-model="vm.user.password" placeholder="Password" type="password" required>
            <script id="metamorph-22-start" type="text/x-placeholder"></script>
            <script id="metamorph-22-end" type="text/x-placeholder"></script>
            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>
            <br>
            <small class="create-account text-muted">
                Dont have a account? 
                <button id="ember363" class="ember-view btn btn-sm btn-default" ui-sref="signup"> Sign Up </button>
            </small>
            <hr />
        </form>
    </div>
</div>