<div class="container">
    <div class="container text-center">
        <form class="form-signin" ng-submit="vm.signup()" data-ember-action="2">
            <h2 class="form-signin-heading">Acme Widget Company</h2><br />
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.username" placeholder="Username" type="text" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.password" placeholder="Password" type="password" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.confirmPassword" placeholder="Confirm Password" type="password" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.email" placeholder="Email" type="email" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.firstname" placeholder="First Name" type="text" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.lastname" placeholder="Last Name" type="text" required>
            <input class="ember-view ember-text-field form-control login-input" ng-model="vm.user.activity" placeholder="Activity" type="text" required>
            <input class="ember-view ember-text-field form-control login-input-pass" ng-model="vm.user.comment" placeholder="Comment" type="text" required>
            <script id="metamorph-22-start" type="text/x-placeholder"></script>
            <script id="metamorph-22-end" type="text/x-placeholder"></script>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign Up</button>
        </form>
    </div>
</div>